*{
    box-sizing: border-box;
}
body{
    background-color: rgb(105, 105, 105);
}
.header{
    text-align: center;
    padding: 25px 0;
    background-color: darkorange;
    position: fixed;
}
